@import "./variables.scss";
@import "./element-ui.scss";
@import "./custom-style.scss";
@import "./media.scss";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
