@import "./variables.scss";
@import "./element-ui.scss";
@import "./custom-style.scss";
@import "./media.scss";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

#app {
  height: 100vh;
  background: $indexBackgroundColor;
}

#details {
  height: 100%;
  background: #fff;
  padding: 1rem;
  border-radius: 1rem;
}
