$headerHeight: 3.75rem;
$mainBackgroundColor: #f0f4f6;
$sideBarWidth: 260px;
$menuColor: #409EFF;
$menuHoverColor: #ecf5ff;
$indexBackgroundColor: #1E1E20;
$blue: #4a84c7;
$purple: #606bf9;
$deepPurple: #4e40c2;
$pink: #f96a74;
$orange: #feca81;

:export {
  headerHeight: $headerHeight;
  indexBackgroundColor: $indexBackgroundColor;
}
