$headerHeight: 3.75rem;
$mainBackgroundColor: #f0f4f6;
$sideBarWidth: 260px;
$menuColor: #409EFF;
$menuHoverColor: #ecf5ff;
$indexBackgroundColor: #1E1E20;

:export {
  headerHeight: $headerHeight;
  indexBackgroundColor: $indexBackgroundColor;
}
